<div class="jumbotron">
<h1>Welcome to Fitomite</h1>
<p>Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>.</p>
</div>
<div class="row">
  <div class="col-sm-7 col-md-6">
    <div class="thumbnail">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSawMvyuQcGCvu3DNr-QURTjLhFEMv4arMwtUYWXFly062COUlQ" alt="...">
      <div class="caption">
        <h3>Progress</h3>
        <p>My Fitomite Log</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
</div>
  <div class="col-sm-7 col-md-6">
    <div class="thumbnail">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSawMvyuQcGCvu3DNr-QURTjLhFEMv4arMwtUYWXFly062COUlQ" alt="...">
      <div class="caption">
        <h3>Nutrition</h3>
        <p>My Diet Plan</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-7 col-md-6">
    <div class="thumbnail">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSawMvyuQcGCvu3DNr-QURTjLhFEMv4arMwtUYWXFly062COUlQ" alt="...">
      <div class="caption">
        <h3>Workouts</h3>
        <p>My Customized Pland and Workout Guides</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
</div>
  <div class="col-sm-7 col-md-6">
    <div class="thumbnail">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSawMvyuQcGCvu3DNr-QURTjLhFEMv4arMwtUYWXFly062COUlQ" alt="...">
      <div class="caption">
        <h3>Content</h3>
        <p>Articles and Videos to Help My Journey</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
