<div class="jumbotron">
<center>
  <h1>My Fitomite Command Center</h1>
</center>
<center><p>Click here to <%= link_to "Customize More", "#", class: "btn btn-primary btn-lg" %></p></center>
<center><%= link_to "sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %></center>
</div>
<div class="row">
  <div class="col-sm-7 col-md-6">
    <div class="thumbnail">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSawMvyuQcGCvu3DNr-QURTjLhFEMv4arMwtUYWXFly062COUlQ" alt="...">
      <div class="caption">
        <center><h3>Progress</h3>
        <p>My Fitomite Reports</p>
        <p><a href="progress" class="btn btn-default" role="button">See My Progress</a></p><center>
      </div>
    </div>
</div>
  <div class="col-sm-7 col-md-6">
    <div class="thumbnail">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSawMvyuQcGCvu3DNr-QURTjLhFEMv4arMwtUYWXFly062COUlQ" alt="...">
      <div class="caption">
        <center><h3>Nutrition</h3>
        <p>My Diet Plan and Recipes</p>
        <p><a href="nutrition" class="btn btn-default" role="button">See My Nutrition</a></p></center>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-7 col-md-6">
    <div class="thumbnail">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSawMvyuQcGCvu3DNr-QURTjLhFEMv4arMwtUYWXFly062COUlQ" alt="...">
      <div class="caption">
        <center><h3>Workouts</h3>
        <p>My Customized Plans and Exercises</p>
        <p><a href="workouts" class="btn btn-default" role="button">See My Workouts</a></p></center>
      </div>
    </div>
</div>
  <div class="col-sm-7 col-md-6">
    <div class="thumbnail">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSawMvyuQcGCvu3DNr-QURTjLhFEMv4arMwtUYWXFly062COUlQ" alt="...">
      <div class="caption">
        <center><h3>Content</h3>
        <p>Articles and Videos to Help My Journey</p>
        <p><a href="content" class="btn btn-default" role="button">See My Content</a></p></center>
      </div>
    </div>
  </div>
</div>

